<tr>
  <td><%= tipo.nombre %></td>
  <td><%= tipo.descripcion %></td>
  <td>
    <%= link_to 'Editar', edit_tipo_path(tipo), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Eliminar',
                tipo,
                method: :delete,
                class: 'btn btn-warning btn-sm',
                data: { confirm: 'Esta seguro de eliminar este tipo?' } %>
  </td>
</tr>