<div class="section-container--header row">
  <div class="col-md-10 col-xs-8">
    <h2>Nuevo Tipo</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', tipo: @tipo %>
  </div>
</div>
</br>
<div>
<%= link_to 'Volver', tipos_path, class: 'btn btn-info btn-sm' %>
</div>