<h1>Bienvenido Administrador</h1>



<div class="section-container--header">
    <h2>Tareas</h2>
</div>  
</br>
<div>
  <ul class="list-unstyled">
    <li class><%= link_to 'Tipos de Producto', tipos_path, class: 'btn btn-primary' %></li>
    </br>
      	
    <li><%= link_to 'Productos', productos_path, class: 'btn btn-primary'  %></li>
    </br>
      
    <li><%= link_to 'Bebidas', bebidas_path, class: 'btn btn-primary'  %></li>
  </ul>	
</div>
