<p id="notice"><%= notice %></p>

<h1>Empresas</h1>

<div class="row">
  <div class="col-md-12">
    <div class="listing">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>RUT</th>
              <th>Nombre</th>
              <th>Razon Social</th>
              <th>Telefono</th>
              <th>Direccion</th>
              <th>Correo electronico</th>
              <th colspan="3"></th>
            </tr>
          </thead>

  
        <tbody>
                <%= render @empresas %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
  </div>

<br>
<div class="col-md-12">
  <div class="btn-group btn-group-justified">
    <%= link_to 'Nueva Empresa', new_empresa_path, class: 'btn btn-default'  %>
  
    <%= link_to 'Volver', root_path, class: 'btn btn-default' %>

  </div>
</div>
